# Discord Config
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
# Role that gets tagged
ADMIN_ROLE_ID=

# Optional: Set the check interval (in seconds)
CHECK_INTERVAL=360 #(86400 for 1 day)

# Included strings for the projects name Google form question
PROJECT_NAME_KEYS=["name of your project", "project name", "project title"]

#FORM_FORUM_MAPPING='{"formId1": ["DISCORD_CHANNEL_ID", "TAG_NAME", "SPREADSHEET_URL"]}''
FORM_FORUM_MAPPING='{
  "1_gqREDACT":["129REDACT", "SMART CONTRACT", "https://docs.google.com/spreadsheets/d/REPLACE"],
  "1I5REDACT":["129REDACT", "PARACHAIN", "https://docs.google.com/spreadsheets/d/REPLACE"]
  }'

DOWNLOAD_FILES=false

# Filenames
CREDENTIALS_FILENAME=credentials.json
RESPONSE_TRACK_FILENAME=responses.json
ERROR_LOG_FILENAME=error.log
COMBINED_LOG_FILENAME=combined.log
